

/* Navbar */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.container {
  text-align: center;

}


nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}



/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align: center;
  position: fixed; /* footer'a position:fixed özelliği eklendi */
	bottom: 0; /* footer'ın altta kalması için bottom özelliği kullanıldı */
	left: 0;
	width: 100%;
}